*{
	margin: 0;
	padding: 0;
}
.Container{
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom:10vh;
	width: 35%;
	background-color: grey;

}
.tab{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 35px 0 rgba(0,0,0,0.5);
	height: 30px;
	width: 100%;
	display: block;
	background-color: grey;
	font-family: 'Press Start 2P', cursive;
	color: white;
	border: 1px solid #42433e;
	
}
.active, .tab:hover{
	background-color: #ccc;
	width: 102%;
}
.panel{
	padding: 0;
	height: 50%;
	background-color: white;
	display: none;
	overflow: hidden;
}
.header{
	height:25vh;
	color: black;
	background-image: url(https://wallpapercave.com/wp/wp3277659.jpg);
	text-align: center;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 30% 70%;
	background-size: cover;
	padding-top: 25%;


}
.image{
	width: 100%;
	height: 35vh;
	margin-bottom: -4px;
}
.footer{
	height:50vh;
	width: 100%;
	background-image: url(https://m.media-amazon.com/images/M/MV5BMTU2NTcxMTI5M15BMl5BanBnXkFtZTgwNTc1NTQyMTE@._V1_SX1777_CR0,0,1777,651_AL_.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
p{
	background-color: #42433e;
	color: white; 
	border: 1px solid black;
	margin: 0;
}
body{
	background-color: white;
	background-position: 50% 50%;
	background-size: cover;
	/*background-repeat: no-repeat;*/
	/*background-image: url(https://i.imgur.com/zys10Yi.jpg);*/
	width: 100%;
	height: 100%;
}
@media 