.Container{
	margin: 0 auto;
	width: 75%;
	background-color: grey;
}
.tab{
	height: 30px;
	width: 100%;
	display: block;
	background-color: #42433e;
	color: white;
	
}
.active, .tab:hover{
	background-color: #ccc;
}
.panel{
	padding: 0;
	height: 50%;
	background-color: white;
	display: none;
	overflow: hidden;
}
p{
	
	padding: 20px;
}